<section class="card">
    <p class="comment-author">{{author}}</span>
    <p class="comment-time"><i>{{createdAt}}</i></p>
    <hr />
    <div class="card-body">
      <p class="comment-description">{{description}}</p>
    </div>
</section>
