<section class="card">
    <h4 class="comment-author">{{author}}</h4>
    <p class="comment-time"><i>{{createdAt}}</i></p>
    <div class="card-body">
      <p class="comment-description">{{description}}</p>
    </div>
</section>

{{!-- CLEAN --}}