 <div class="user-posts">
  <h1>Your Authored Articles</h1>
  <div class="article-card">
    <div class="card-body">
      {{#each articles as |article|}}
      {{> article-details-to-edit}}
      {{/each}}
    </div>
  </div>
  </div> 