  <div class="article-card">
    <div class="card-body">
      {{#each articles as |article|}}
      {{> article-details}}
      {{/each}}
    </div>
  </div>

  <!-- This is the form for updating a article. According to MVC framework, what is this form responsible for? -->
  <!-- This form is responsible for the UI logic, or the components in the View that the user will interact with. -->
  <!--What isn't it responsible for? -->
  <!--It is not responsible for data-related logic, requests, or business-logic. -->


  <div class="edit-article-container">
    <h2>Add a comment!</h2>
    <form class="edit-article-form">
      <label for="description">
        Comment body:
      </label>
      <br />
      <textarea id="description" name="description" rows="5" cols="30">
      {{description}}
    </textarea>
      <br />
      <button type="submit" value="Submit">
        Submit
      </button>
    </form>
  </div>
</div>
<script src="/js/add-comment.js"></script>
{{!-- CLEAN --}}